ul {
    list-style-type: none;
}
li {
    float: left;
    text-align: center;
    padding: 0px 10px;
}
li a:hover {
    background-color: #111;
}
p{
	font-size: 15px;
}
span{
	font-size: 3em;
	font-style: italic;
}
#box{
	border:2px solid red; 
	padding: 10px 10px;
	display: inline-block;
	margin: 5px;
	width: 100px;
	height: 100px;
	word-break: break-all;
h2{
	text-align: center;
	text-decoration-line: underline;
}