/*p{
	color: rgb(102,206,005);
	background-color: rgba(005,102,206,0.1);
	border :2px solid red;
}*/
header{
	color: red;
	background-color:rgba(150,200,155,0.5);
	height: 20px;
	margin: 0px,0px;
}
/*h2{
	border :3px solid green;
	color: violet;
}*/
.sec1{
	border: 3px dashed blue;
	background-color: rgba(120,090,140,0.2);
}
.sec1 > #sp2 > a:hover{
	background-color: pink;
}
.sec1 > #sp1{
	font-style:italic;
	font-size: medium; 
	color: rgb(025,147,174);
	background-color: rgba(255,0,0,0.2);
}
.sec1 > p{
	color: red;
	background-color: yellow;
}
h2 + p{
	background-color: yellow;
}
#sec > div > h2{
	color: rgb(135, 45, 98);
}
#div1 > h3{
	color: rgb(54, 51, 119);
}
#sec{
	color: rgb(102,206,005);
	background-color: rgba(005,102,206,0.1);
	border :2px solid red;
	height: auto;
	width:200px;
	align-content: center;
}
img{
	width: 100px;
	height: 100px;
	float: left;
	padding: 2px 2px 2px 2px;
}
#sec > div > h2{
	text-align: center;;
}
ul {
    list-style-type: none;
}
li {
    float: left;
    text-align: center;
    padding: 0px 5px;
}
li a:hover {
    background-color: #111;
}
footer{
	color: red;
	background-color:rgba(150,200,155,0.5);
	height: 20px;
	margin: 0px,0px;
	text-align: center;
}